@charset   'UTF-8';

@import    "reset";
@import    "settings";
@import    "fonts";
@import    "base";

@import    "pages/page-enter";
@import    "pages/page-main";

//Components
.artist-name {
  margin: auto;
  padding-top: 0.66em;
  font-family: 'AlternateGotNo3D', 'Arial', 'sans-serif';
  letter-spacing: 0.14em;
  text-transform: uppercase;
  text-align: center;
  font-size: 6vw;
  @media only screen and (min-width: $max-width) {
    font-size: 60px;
  }
}

//news
#news {
  font-size: 10.4vw;
  margin: auto;
  width: 8.6em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  @media only screen and (min-width: $max-width) {
    font-size: 100px;
  }
}

.article {
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}

//works
.works {
  font-size: 10.4vw;
  margin: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  width: 8.6em;
  @media only screen and (min-width: $max-width) {
    font-size: 100px;
  }
}

.single-work {
  display: inline-block;
  height: 2em;
  width: 2em;
  background-size:cover;
  margin-bottom: 0.2em;
  margin-right: 0.2em;
  animation: fadein 900ms forwards;
  animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
  opacity: 0;
  &:nth-of-type(4n) {
    margin-right: 0;
  }
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
