@charset   'UTF-8';

@import    "reset";
@import    "settings";
@import    "fonts";
@import    "base";

@import    "pages/page-enter";
@import    "pages/page-main";
@import    "pages/page-works";
@import    "pages/page-news";
@import    "pages/page-about";

//Components
.artist-name {
  margin: auto;
  padding-top: 0.66em;
  font-family: 'AlternateGotNo3D', 'Arial', 'sans-serif';
  letter-spacing: 0.14em;
  text-transform: uppercase;
  text-align: center;
  font-size: 6vw;
  @media only screen and (min-width: $max-width) {
    font-size: 60px;
  }
}

//lihtbox
#baguetteBox-overlay {

  #close-button,
  #next-button,
  #previous-button {
    background-color: transparent;

    svg polyline,
    svg g {
      stroke: #fff;
      stroke-width: 2;
    }
  }

  #close-button {
    transform: scale(0.8);
  }

}
