<div id="main">
  <nav id="social-links">
    <a class="fb-link" target="_blank" href="https://www.facebook.com/elina.evstigneeva.1"></a>
    <a class="insta-link" target="_blank" href="https://www.instagram.com/eliinareeliina/"></a>
  </nav>
  <artist-name artist="$ctrl.artist" ng-link="['Enter']"></artist-name>
  <nav id="menu">
    <a ng-link="['News']">News</a>
    <a ng-link="['Works', {type: 'collage'}]">Collage</a>
    <a ng-link="['Works', {type: 'drawing'}]">Drawing</a>
    <a ng-link="['Works', {type: 'painting'}]">Painting</a>
    <a ng-link="['About']">About & Contact</a>
    <a target="_blank" href="http://www.saatchiart.com/elinaev">Shop</a>
  </nav>
  <ng-outlet></ng-outlet>
</div>
